body{
/*	overflow:hidden;	*/
}

/*::-webkit-scrollbar { 
    display: none; 
}

::-scrollbar { 
    display: none; 
}*/

input.ui-slider-input {
  display: none;
}

@media screen and (max-width:860px) {
    span.input-label { display:none }
}

ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	
    z-index:0;
/*    position:relative;
    top:40px;*/

/*    margin-left:-100px;
    margin-top:-130px;*/

}

div.content{
    position:relative;
	max-width: 800px;
	margin-right:auto;
	margin-left:auto;
    top:30px;
    text-align:center;
    color:black;
    z-index:1;
    background-color:rgba(255, 255, 255, 0.8);
}

li{
	float:left;
/*	border:1px solid red; */
	margin-right:-220px;
	margin-bottom:-40px;

/*	display:-moz-box;
	-moz-box-pack:center;
	-moz-box-align:center;


	display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;


	display:box;
	box-pack:center;
	box-align:center;
*/}

.box.A{   
/*	display:-webkit-box;
-webkit-box-pack:center;
-webkit-box-align:center;*/
/*width:175px;*/
/*     border:1px blue solid; */
float:left;
}

.box.B{   
	float:left;
    position:relative;
    top:-70px;
    left:-110px;
/*            display:-webkit-box;
-webkit-box-pack:center;
-webkit-box-align:center;
*/    
/*width:175px;    */
/*     border:1px blue solid; */
}


.elem{

    width:175px; 
    height:175px;
    /* border:1px red solid; */
     background-repeat: no-repeat;
}




.elem.A {  
        background-image:url('http://s24.postimg.org/ua9mzwmht/arrow.png');

    animation-name: rotate; 
    animation-duration: 3.0s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 3.0s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

     }
 @keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);} 
}

 @-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(-360deg);} 
}

.elem.B {
        background-image:url('http://s29.postimg.org/np8utnv8j/arrow2.png');
}
.elem.B {      
    animation-name: rotate2; 
    animation-duration: 3.0s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    -webkit-animation-name: rotate2; 
    -webkit-animation-duration: 3.0s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
     }
 @keyframes rotate2 {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);} 
}

 @-webkit-keyframes rotate2 {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);} 
}